.best {
  background: url(../img/table_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.best__list {
  display: flex;
}

.best__item {
  flex: 1;
  margin-right: 35px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.best__picture {
  margin-bottom: 20px;
  min-height: 95px;
}

.best__title {
  font-family: "lifehack";
  font-weight: 500;
  font-size: 24px;
  color: $black;
  line-height: 1.17;
  margin-bottom: 17px;
}

.best__text {
  font-family: "ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: rgba 47 50 52, 0.8;
  margin-top: -5px;
}
