.start {
  background: url(../img/vegetables_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.start__container {
  height: 100%;
}
.start__content {
  display: flex;
  align-items: center;
  flex: 0.8;
  padding-left: 20px;
  margin-top: -33px;
}

.start__desc {
  padding-top: 60px;
  margin-left: 12px;
}

.start__subtitle {
  font-family: "lifehack";
  font-weight: 500;
  font-size: 65px;
  color: #ffffff;
  line-height: 0.8;
  letter-spacing: -1.63px;
}

.header__buttons {
  padding-bottom: 5px;
}
