body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.header {
  background: #131415;
  height: 77px;
  background-size: 100%;
  margin-bottom: 43px;
}

.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.logo__link {
  font-family: "gora-free";
  font-size: 18px;
  color: #f89513;
  text-decoration: none;
  margin-left: 19px;
  letter-spacing: 1.8px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__text {
  font-family: "open-sans";
  color: white;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.menu__item {
  margin-right: 15px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu__icon {
  margin: 0 15px 0 0;
}

.contacts {
  text-align: right;
  font-family: "open-sans";
  font-style: normal;
  margin-right: 19px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  color: white;
  line-height: 1.54;
}

.contacts__schedule {
  text-decoration: underline;
  color: rgba(248, 149, 19, 0.7);
  font-size: 14px;
  font-weight: 700;
}

.breadcrumbs {
  margin-bottom: 17px;
  margin-left: 110px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  display: flex;
  font-family: "open-sans";
  font-style: italic;
  font-size: 14px;
}

.breadcrumbs__link {
  color: rgba(248, 149, 19, 0.8);
  margin-right: 2px;
}

.breadcrumbs__separator {
  margin-right: 3px;
}

.breadcrumbs__link--unactive {
  color: rgba(34, 31, 31, 0.8);
  text-decoration: none;
}

.services {
  margin-bottom: 10px;
}

.services__headline {
  margin: 0;
  text-transform: uppercase;
  font-family: "open-sans";
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 1.47px;
  margin-left: 110px;
  margin-bottom: 40px;
}

.services__content {
  margin: 0px 110px 0px 110px;
}

.services__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.services__item {
  width: 253px;
  min-height: 480px;
  margin-bottom: 2px;
}

.services__picture {
  width: 250px;
  height: 153px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 26px;
}

.services__image {
  position: absolute;
  opacity: 0.52;
  display: block;
}

.services__picture-headline {
  margin: 0;
  font-family: "open-sans";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  top: 65px;
  color: white;
}

.services__title {
  margin: 0;
  font-family: "open-sans";
  font-size: 18px;
  font-weight: bold;
  color: #221f1f;
  padding-bottom: 7px;
}

.services__article {
  font-family: "open-sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 21.4px;
  color: #221f1f;
}

.partners {
  margin-bottom: 25px;
}

.partners__headline {
  margin: 0;
  text-transform: uppercase;
  font-family: "open-sans";
  font-size: 49px;
  font-weight: bold;
  letter-spacing: 1.45px;
  margin-left: 110px;
  margin-bottom: 77px;
}

.partners__content {
  margin: 0px 165px 0px 165px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partners__item {
  width: 193px;
  margin-bottom: 50px;
}

.partners__link {
  text-decoration: none;
}

.partners__image {
  filter: grayscale(100%);
}
