.arrow-down-btn {
  width: 29px;
  height: 14px;
  background: url(../../img/arrow-scroll.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
