.services {
    margin-bottom: 10px;
}

.services__headline {
    margin: 0;
    text-transform: uppercase;
    font-family: "open-sans";
    font-size: 49px;
    font-weight: bold;
    letter-spacing: 1.47px;
    margin-left: 110px;
    margin-bottom: 40px;
}

.services__content {
    margin: 0px 110px 0px 110px;
}

.services__list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.services__item {
    width: 253px;
    min-height: 480px;
    margin-bottom: 2px;
}

.services__picture {
    width: 250px;
    height: 153px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 26px;
}

.services__image {
    position: absolute;
    opacity: 0.52;
    display: block;
}

.services__picture-headline {
    margin: 0;
    font-family: "open-sans";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    top: 65px;
    color: white;
}

.services__title {
    margin: 0;
    font-family: "open-sans";
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;
    padding-bottom: 7px;
}

.services__article {
    font-family: "open-sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 21.4px;
    color: #221f1f;
}