.breadcrumbs {
    margin-bottom: 14px;
    margin-left: 110px;
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    display: flex;
    font-family: "open-sans";
    font-style: italic;
    font-size: 14px;
}

.breadcrumbs__link {
    color: rgba(248, 149, 19, 0.8);
    margin-right: 2px;
}

.breadcrumbs__separator {
    margin-right: 3px;
}

.breadcrumbs__link--unactive {
    color: rgba(34, 31, 31, 0.8);
    text-decoration: none;
}