.creator__text {
    font-family: "open-sans";
    font-size: 14px;
    color: white;
    font-weight: 300;
    width: 239px;
    margin: 0px 0px 0px 19px;
    line-height: 1.29;
}

.loftschool__link {
    color: white;
    font-weight: bold;
}

.myvk__link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}