.header {
    background: #131415;
    height: 77px;
    background-size: 100%;
    margin-bottom: 46px;
}

.header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}