.menu__list {
    display: flex;
    align-items: center;
}

.menu__text {
    font-family: "open-sans";
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.menu__text-active {
    color: #f89513;
    ;
}

.menu__item {
    margin-right: 15px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu__icon {
    margin: 0 15px 0 0;
}