.socials {
    width: 180px;
    height: 60px;
    margin: 0px 19px 0px 0px;
}

.socials__text {
    font-family: "open-sans";
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 0;
    line-height: 27px;
}

.socials__list {
    display: flex;
}

.socials__item {
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
}

.socials__image {
    display: block;
}

.socials__item:hover {
    background-color: #f89513;
}