html,
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
