.fixed-menu {
  position: fixed;
  top: 89px;
  right: 59px;
}

.fixed-menu__item {
  &--active {
    .fixed-menu__dot {
      border-color: #ffffff;
    }
  }
}

.fixed-menu__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 4px;
  outline: none;
  position: relative;

  &:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
