.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;

  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 60px 50px 20px;
  background-color: rgba(#2f3234, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.reviews__title {
  font-family: "gagalin";
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 30px;
}

.reviews__text {
  font-family: "ubuntu";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 17px;
}
